<h1>All the Dogs</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="dog-list">
    <%= render(partial: 'dogs/index', locals: {dogs: @dogs}) %>
  </tbody>
</table>
<%= link_to("New Dog", new_dog_path, remote: true, id: "new-dog-link") %>
<hr />
<div id="dog-form"></div>
<div id="dog-show"></div>
