<%= form_for(@dog, remote: true, disable_with: "Submitting...") do |f| %>
  <div>Name: <%= f.text_field :name %></div>
  <div>Breed: <%= f.text_field :breed %></div>
  <div><%= f.submit %></div>
<% end  %>
